[Unit]
Description=Prometheus Apache Exporter
After=network.target

[Service]
User={{ nginx_exporter_system_user }}
Group={{ nginx_exporter_system_group }}

{% if nginx_exporter_nginx_plus %}
ExecStart=/usr/local/bin/nginx_exporter \
          -nginx.plus \
          -nginx.scrape-uri {{ nginx_exporter_scrape_uri }} \
          -web.listen-address {{ nginx_exporter_listen_address }}
{% else %}
ExecStart=/usr/local/bin/nginx_exporter \
          -nginx.scrape-uri {{ nginx_exporter_scrape_uri }} \
          -web.listen-address {{ nginx_exporter_listen_address }}
{% endif %}
